@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/*MAIN*/


* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

html{
    height: 100%;
}
  
:root{
    --main-color: 	#191970; 
    --secondary-color: #FFFFFF;
    --colorOne: #00A36C;
    --colorTwo: #CCCCFF;
    --colorThree: #6495ED;
    --colorFour: red;
}

body{
    font-family: 'Black Ops One', cursive;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 2.5vw;
}

h1, h3, h5{
    text-align:center;
    margin-bottom: 0;
}

h1{
    font-size: 10vw; 
    padding: 2rem;
}

h3{
    font-size: 4vw; 
    padding: 7rem 0rem 0rem 0rem;
}

h5{
    font-size: 2vw; 
    padding-bottom: 4rem;
}

button{
    cursor: pointer;
}

.disabled{
    pointer-events: none;
}

.fade-in{
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0% {opacity:0;}
    100%{opacity:1;}
}

/*INTRO PAGE*/

#playerNameForm{
    display: grid;
    justify-content: center;
    margin: auto;
    justify-items: center;
    gap: 1rem;
}

#playerNameInput{
    padding: 1rem;
    text-align: center;
    font-size: 1.5vw;
}

#playerNameInput:focus{
    outline: none;
    border-color: var(--colorTwo);
    box-shadow: 0 0 10px var(--colorTwo);
}

#nameFormError{
    text-align: center;
    padding-bottom: 0.5rem;
    visibility: hidden;
}

.error{
    color: red;
}

#startButton{
    background-color: var(--colorTwo);
    padding: 1rem;
    font-size: 2vw;
    font-family: 'Black Ops One', cursive;
    margin-top: 2rem;
    color: var(--main-color);
    border: 1px solid var(--colorTwo);
    transition-property:background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.25s;
}

#startButton:hover{
    background-color: var(--main-color);
    color: var(--colorThree);
}

/*SHIP PLACEMENT PAGE*/

#gridDiv{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
}

#boardDiv{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    min-width: 150rem;
    min-height: 150rem;
    margin: auto;
    background-color: var(--colorThree);
    border: 1px solid var(--colorTwo);
}

#shipsDiv{
    display: grid;
    padding: 2rem;
}

.board-square{
    background-color:#6495ED;
    border: 1px solid var(--colorTwo);
}



.ship{
    display: flex;
}

.ship-segment{
    background-color:#00A36C;
    min-width: 14rem;
    min-height: 14rem;
    border: 1px solid var(--colorTwo);
}

.ship-segment:hover{
    cursor: pointer;
}

.selected-ship{
    background-color: var(--main-color);
}

.ship-title{
    font-size: 1.5vw;
    padding-bottom: 1rem;
}

#axisButton{
    font-family: 'Black Ops One', cursive;
    background-color: var(--colorThree);
    font-size:1.2vw;
    width: 11vw;
    margin-bottom: 2rem;
    border: 1px solid var(--colorThree);
}

#axisButton:hover{
    background-color: var(--main-color);
    color: var(--colorThree);
}

.hover{
    background-color: var(--colorOne);
    cursor:pointer;
}

.placed-ship{
    background-color: var(--main-color);
}


/*GAME*/
#gamePage{
    display:grid;
    grid-template-columns: 45% 10% 45%;
}
#keyDiv{
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 50vw;
    margin: auto;
    font-size: 1.2vw;
    color: var(--colorTwo);
    padding-top: 5rem;
    grid-area: 2/1/3/4;
}

.ship-square{
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--colorTwo);
}

.hit-square{
    background-color:var(--colorOne);
}

.sunk-square{
    background-color: var(--colorFour);
}

.miss-square{
    background-color:var(--secondary-color);
}

.key-text{
    margin: auto 0px;
}

.name{
    text-align: center;
    font-size: 1.4vw;
    color: var(--colorTwo);
}
.game-heading{
    grid-area: 1/1/2/4;
}

#player1GameDiv{
    grid-area:3/1/4/2;
}

#player2GameDiv{
    grid-area: 3/3/4/4;
}

#message{
    grid-area: 3/2/4/3;
    justify-self: center;
    align-self: center;
    text-align: center;
    color: var(--colorTwo);
}

.player-game-div{
    margin-top: 7rem;
}


.player-board-div{
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 40vw;
    height: 40vw;
    max-width: 2000px;
    max-height: 2000px;
    margin: auto;
    background-color: var(--colorThree);
    border: 1px solid var(--colorTwo);
}

.score-div{
    margin-top: 2rem;
    color: var(--colorFour);
    text-align:center;
    font-size: 1.2vw;
}